
.star-border-container {
  display: block;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  width: 100%;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.8;
  bottom: -15px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.8;
  width: 300%;
  height: 50%;
  top: -15px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.star-inner-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  border: 1px solid transparent;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 0.4;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0.9;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 0.4;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0.9;
  }
}
